.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.copyright {
  display: block;
  position: absolute;
  bottom: 3%;
  right: 2%;
  text-align: center;
}
.copyright p {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--font-link);
  color: var(--gray-color);
}
